.detailedCountryContainer {
    width: 95%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 3rem 0 3rem;
  }
  
  .flagDiv {
    width: 50%;
    height: 100%;
  }
  
  .flagDiv img {
    width: 100%;
    height: 100%;
  }
  
  .countryDetails {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2.5% 0 0 7.5%;
    font-size: 18px;
  }
  
  .countryName {
    padding: 0 0 2rem 0;
    font-size: 2rem;
    font-weight: 800;
  }
  
  .details {
    display: flex;
    justify-content: start;
  }
  
  ul {
    list-style: none;
  }
  li {
    margin-bottom: 0.5rem;
  }
  
  .firstColumn ul > li,
  .secondColumn ul > li {
    padding-bottom: 0.5rem;
  }
  .secondColumn {
    padding: 0rem 7.5rem;
  }
  
  .borderCountries {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7.5%;
  }
  
  .borderCountriesButton {
    display: flex;
    flex-direction: row;
  }
  
  .borderBtn {
    margin-left: 5% !important;
    background-color: white !important;
    color: black !important;
    width: auto;
    height: 30px !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 30px 0px;
  }
  
  .backBtn {
    background-color: #fff !important;
    color: #000 !important;
    margin: 3rem !important;
    width: auto;
  }
  
  .arrowIcon {
    margin-right: 0.5rem;
  }

  .inputValue{
    font-size: 18px;
    padding-bottom: 5px;
  }
  
  @media (max-width: 414px) {
    
    .cardTitle {
      font-size: 20px !important;
    }
  
    .cardLabel {
      font-size: 16px !important;
    }
    .inputValue {
      font-size: 16px !important;
    }

    .detailedCountryContainer {
      width: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 2rem 2rem 2rem;
    }
  
    .backBtn {
      margin: 2rem 2rem 4rem 2rem !important;
    }
  
    .countryDetails {
      width: 100%;
      height: 100%;
      padding: 0;
    }
  
    .flagDiv {
      width: 100%;
      height: 50%;
      margin-bottom: 10%;
    }
    .details {
      display: flex;
      flex-direction: column;
      justify-content: start;
    }
    .secondColumn {
      margin-top: 7.5%;
      padding: 0;
    }
  
    .borderCountries {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 7.5%;
    }
    .borderCountriesButton {
      margin: 0rem !important;
      padding-top: 1rem !important;
    }
    .borderBtn {
      margin: 0 !important;
      height: 25px !important;
    }
    .borderBtn:not(:first-child) {
      margin-left: 1rem !important;
    }
  
    .firstColumn ul > li,
    .secondColumn ul > li {
      padding-bottom: 0.2rem;
    }
    .mainTitle {
      font-size: 18px !important;
    }
  }

  @media (min-width:540px) {

    .detailedCountryContainer {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
    }

    .flagDiv {
      width: 85%;
      height: 50%;
      margin-bottom: 5%;
    }

    .countryDetails {
      width: 100%;
      height: 100%;
      justify-content: center;
    }
  }

  @media (min-width:910px) {

    .flagDiv {
      width: 90%;
    }
  }

  @media (min-width:1100px) {

    .detailedCountryContainer {
      width: 95%;
      height: 500px;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 3rem 0 3rem;
    }
    
    .flagDiv {
      width: 50%;
      height: 100%;
    }

    .countryDetails {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 2.5% 0 0 7.5%;
      font-size: 18px;
    }
  }