:root{
  --header-bg-color:#ffffff;
}

.moonIcon{
  margin-right: 0.5rem;
}

.box {
  overflow: "hidden";
  width: "100%";
  box-shadow: 0 4px 10px -8px gray;
  background-color: var(--header-bg-color) !important;
}
.appBar{
  background-color: var(--header-bg-color) !important;
}